{% extends 'divisas.html' %}
{% load staticfiles %}

{% block title %}
Listar

{% endblock %}


{% block contenido %}

  <h2> Listar</h2>

  <form class="form" method="POST">

             {% csrf_token %}
             {{form.as_p}} <button  type="submit" class="btn btn-primary">Consultar</button>

         </form>



{% if  opcion == 1 %}

{% if result %}
<h2>Usuario</h2>
<p>Usted actualmente posee:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>cantidad moneda</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.cantidad_moneda }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 2%}

{% if result %}
<h2>Sistema</h2>
<p>El sistema actualmente posee:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>cantidad moneda</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.cantidad_moneda }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 3 %}

{% if result %}
<h2>Tasa Conversión</h2>
<table class="table table-bordered">
  <thead>
    <th>moneda origen</th>
    <th>conversion a</th>
    <th>tasa de conversion</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda_buscada }}</td>
      <td>{{ s.tipo_moneda_encontrada }}</td>
    <td>{{ s.cantidad_encontrada }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% endif %}
{% endblock %}
