<!--template principal de listar divisas particular-->
{% extends 'divisas.html' %}
{% load staticfiles %}

{% block title %}
Listar

{% endblock %}


{% block contenido %}

  <h2> Listar</h2>

  <form class="form" method="POST">
     <!--utilizaremos el formulario seleccion_listarparticular_form de forms.py-->
             {% csrf_token %}
             <table>
               <th>{{form.as_p}}</th>
               <th>  <button  type="submit" class="btn btn-primary btn-block">Consultar</button>
</th>
             </table>


         </form>



{% if  opcion == 1 %}
<!--Si la opcion seleccionada es 1 se mostrara la informacion detallada de CLP-->
{% if result %}
<h2>Informacion de CLP</h2>
<p>La informacion detallada de CLP es:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>nombre</th>
    <th>pais</th>
    <th>anio_creacion</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.nombre }}</td>
    <td>{{ s.pais }}</td>
    <td>{{ s.anio_creacion }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 2%}
<!--Si la opcion seleccionada es 2 se mostrara la informacion detallada de USD-->
{% if result %}
<h2>Informacion de USD</h2>
<p>La informacion detallada de USD es:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>nombre</th>
    <th>pais</th>
    <th>anio_creacion</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.nombre }}</td>
    <td>{{ s.pais }}</td>
    <td>{{ s.anio_creacion }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 3 %}
<!--Si la opcion seleccionada es 3 se mostrara la informacion detallada de EUR-->
{% if result %}
<h2>Informacion de EUR</h2>
<p>La informacion detallada de EUR es:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>nombre</th>
    <th>pais</th>
    <th>anio_creacion</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.nombre }}</td>
    <td>{{ s.pais }}</td>
    <td>{{ s.anio_creacion }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% endif %}
{% endblock %}
