<!--template principal de listar divisas-->
{% extends 'divisas.html' %}
{% load staticfiles %}

{% block title %}
Listar

{% endblock %}


{% block contenido %}

  <h2> Listar</h2>

  <form class="form" method="POST">
      <!--utilizaremos el formulario seleccion_listar_form de forms.py-->
             {% csrf_token %}
             <table>
               <th>{{form.as_p}}</th>
               <th>  <button  type="submit" class="btn btn-primary btn-block">Consultar</button>
</th>
             </table>


         </form>



{% if  opcion == 1 %}
<!--Si la opcion seleccionada es 1 osea el cliente lo que se muestre en la interfaz sera una adaptacion para este-->
{% if result %}
<h2>Usuario</h2>
<p>Usted actualmente posee:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>cantidad moneda</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.cantidad_moneda }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 2%}
<!--Si la opcion es 2 o sea el sistema la interfaz se adaptara para el despliegue de sus datos-->
{% if result %}
<h2>Sistema</h2>
<p>El sistema actualmente posee:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>cantidad moneda</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.cantidad_moneda }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% elif opcion == 3 %}
<!--Si la opcion es 3 o conversion, la interfaz se adaptara para el despliegue de sus datos-->
{% if result %}
<h2>Tasa Conversión</h2>
<table class="table table-bordered">
  <thead>
    <th>moneda origen</th>
    <th>conversion a</th>
    <th>tasa de conversion</th>

    </thead>
{% for s in result %}
  <tr>
    <td>{{ s.tipo_moneda_buscada }}</td>
      <td>{{ s.tipo_moneda_encontrada }}</td>
    <td>{{ s.cantidad_encontrada }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
{% endif %}
{% endblock %}
