
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Realizar compra</h3>
                <button type="button" class="close" data-dismiss="modal">x</button>

            </div>
              <div class="modal-body">
        <br>
        <form class="form" method="POST" action="{% url 'realizar_compra' %}">
            {% csrf_token %}
            <div class="panel panel-default">
					<div class="panel-body">
						{{ form.as_p }}
					</div>
				</div>

        <br>
            <button style="display:none;" id="boton_comprar" class="btn btn-lg btn-primary btn-block" type="submit">Comprar</button>
        </form>
            <button onclick="validacion('comprar');" class="btn btn-lg btn-primary btn-block">Comprar</button>

        <br>
      </div>
      </div>
</div>
