{% extends 'divisas.html' %}
{% load staticfiles %}

{% block title %}
Vender
{% endblock %}


{% block contenido %}

<h2>Vender divisas</h2>
<div class="row">
	<div class="col-lg-10">
		<a onclick="return abrir_modal('{% url 'realizar_venta' %}')" class="btn btn-primary active" role="button">
			Realizar Venta
		</a>
	</div>
</div>
<p></p>
{% if resulta %}
<p>Usted actualmente posee:</p>
<table class="table table-bordered">
  <thead>
    <th>tipo moneda</th>
    <th>cantidad moneda</th>

    </thead>
{% for s in resulta %}
  <tr>
    <td>{{ s.tipo_moneda }}</td>
    <td>{{ s.cantidad_moneda }}</td>
</tr>
{% endfor %}
</table>

{%endif%}
<div id="popup" class="modal fade" role="dialog">

</div>
<script>
function abrir_modal(url)
{
	$('#popup').load(url, function()
	{
		$(this).modal('show');
	});
	return false;
}

function cerrar_modal()
{
	$('#popup').modal('hide');
	return false;
}


</script>
{% endblock %}
